  <%= react_component('UserShow', {}) %>


<form action=<%= image_post_path %> method="POST" enctype="multipart/form-data">
  <input id="image" type="file" accept="image/*;capture=camera" name="image">
  <input type="submit" value="Submit">
</form>

<canvas id="myCanvas" width="200" height="100" style="border:1px solid #000000;">
</canvas>

<script>
  var imageLoader = document.getElementById('image');
      imageLoader.addEventListener('change', handleImage, false);
  var canvas = document.getElementById('myCanvas');
  var ctx = canvas.getContext('2d');


  function handleImage(e){
      var reader = new FileReader();
      reader.onload = function(event){
          var img = new Image();
          img.onload = function(){
              canvas.width = img.width;
              canvas.height = img.height;
              ctx.drawImage(img,0,0);
          }
          img.src = event.target.result;
      }
      reader.readAsDataURL(e.target.files[0]);
  }

</script>
