<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<h1>SPLASH PAGE!</h1>

<%= render_component('SplashPage',
                    {streamIssues: @stream_issues},
                    {prerender: true})%>
