/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/*-------------------BODY STUFF----------------*/
 * {
  /*border: 1px dashed black;*/
 }

body{
  margin: 0;
  padding: 0;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  font-weight: 200;
}

html{
  padding: 0;
}

.container{
  position: relative;
  /*margin-bottom: 500px;*/
  height: 100%;
}

#content{
  padding: 20px;
  /*margin-bottom: 500px;*/
  /*height: 100%;*/
  overflow: hidden;
}
/*--------------------------------------------*/


/*-------------------MAP----------------*/

#map {
  height: 100%;
  border: 1px solid black;
}

/*--------------------------------------------*/


/*-------------------SEMANTIC----------------*/
@import "semantic-ui";
@import "semantic-ui/collections/menu";
@import "semantic-ui/collections/grid";
/*--------------------------------------------*/




/*-------------------HEADER----------------*/
#header{
  position: relative;
  overflow: hidden;
  padding-bottom: 20px;
}

#mainHead{
  margin: 40px 40px 0px 40px;
  text-align: center;
}

#menu{
  max-width: 1024px;
  margin: 0 auto;
  font-size: 1.25em;
}

#mainImage{
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  min-height: 100%;
}

@media all and(min-width: 900px){
  #mainHead .header{
    margin-top: 3%;
  }
}

@media all and(max-width: 730px){
  #mainHead .ui.header.huge{
    font-size: 1.5em;
  }
}

@media all and(min-width: 631px){
  html body.pushed{
    margin-left: 0 !important;
  }
  #m_menu.active{
    display: none;
  }
  #mainHead h2{
    display: none;
  }
}

@media all and(max-width: 630px){
  #menu{display: none;}
  #m_btn{
    display: inline-block;
  }
  body.pushed{
    overflow: hidden;
  }
  #mainHead .ui.icon.header.huge{
    display: none;
  }
}
/*--------------------------------------------*/






/*-------------------FOOTER----------------*/
#footer{
  background: #eee;
  border-top: 1px solid #ddd;
  width: 100%;
  padding: 0 20px 20px 20px;
  box-sizing: border-box;
  color: #666;
  font-size: 1.25em;
  z-index: 1000;
  position: relative;
/*  bottom: 0;
  position: fixed;*/
}

#footer a{
  text-decoration: none;
  color: #666;
}

#footer a:hover{
  color: #ff6e00;
}

#footer_stream{
  font-size: 0.75em;
  margin-left: 20px;
  overflow: scroll;
  overflow-x: hidden ;
  height: 100px;
}
/*-------------------------------------------*/




/*---------------SPLASH PAGE----------------*/
#splash{
  padding-bottom: 20px;
}

#mainSplash{
  text-align: center;
  position: relative;
}

#splash_wrapper{
  min-height: 100%;
  overflow: hidden;
  background: url(http://i.imgur.com/ev4zHig.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

/*#splashImage{
  background-image: url('http://i.imgur.com/hNp8q7C.jpg');
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  min-height: 100%;
}*/

.splashImage{
  background-image: url('http://i.imgur.com/hNp8q7C.jpg');
  height: 500px;
  /*position: absolute;*/
  top: 0;
  /*z-index: -1;*/
/*  min-height: 100%;*/
}

.splash_nav_button{
  display: inline-block;
  margin-left: 1%;
  margin-right: 1%;
}


/*@media all and(min-width: 900px){
  #mainSplash .header{
    margin-top: 3%;
  }
}*/

@media all and(max-width: 730px){
  #mainSplash .ui.header.huge{
    font-size: 1.5em;
  }
}

@media all and(min-width: 631px){
  html body.pushed{
    margin-left: 0 !important;
  }
  #m_menu.active{
    display: none;
  }
  #mainSplash h2{
    display: none;
  }
}

@media all and(max-width: 630px){
  #menu{display: none;}
  #m_btn{
    display: inline-block;
  }
  body.pushed{
    overflow: hidden;
  }
  #mainHead .ui.icon.header.huge{
    display: none;
  }
}
/*--------------------------------------------*/






/*---------------SIGNUP AND LOGIN PAGES---------------*/
.signin_and_login_form_wrapper{
  display: inline-block;
  margin-bottom: 50px;
}

.signin_and_login_form{
  color: white;
  font-weight: bold;
}

.slash_form{
  color: white;
}

.splash_field{
  opacity: 0.5;
}

@media only screen and (min-device-width: 375px) and (min-device-width: 375px)   and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .signin_and_login_form_wrapper{
    width: 80%;
    font-size: 3em
  }
  .splash_field{
    font-size: 3em;
  }
  .splash_title{
    font-size: 3em;
  }
}
/*---------------------------------------------------*/






/*---------------FIXED MENU TEMPLATE----------------*/
.fixed-menu-template {
  background-color: #D3D3D3;
  text-align: center;
}
/*--------------------------------------------*/





/*---------------REGISTER/LOGIN PAGE--------------*/
/*.register_login_page{
  width: 100%;
  text-align: center;
  border: 1px solid black;
}

.register_form{
  text-align: left;
  display: inline-block;
  width: 20%;
  font-size: 20px;
  border: 1px solid skyblue;
}

.login_form{
  text-align: left;
  display: inline-block;
  width: 20%;
  font-size: 20px;
  border: 1px solid skyblue;
}*/
/*----------------------------------------------*/




/*---------------DASHBOARD PAGE--------------*/
.dashboard_page{
  text-align: center;
  /*border: 1px solid black;*/
}

.dashboard_nav_wrapper{
/*  height: 200px;*/
  /*border: 1px solid skyblue;*/
}

.dashboard_map_wrapper{
  /*background-image: url(http://i.imgur.com/ziM5W14.png);*/
  /*display: inline-block;*/
  width: 100%;
  height: 600px;
  /*background-size: 100%;*/
  /*border: 3px solid lightgrey;*/
}

.dashboard_nav_link{
  /*display: inline-block;*/
  font-size: 24px;
  margin: 2%;
}

/*----------------------------------------------*/





/*---------------DISCOVER PAGE--------------*/
.discover_page{
  text-align: center;
}


.search_bar_wrapper{

}

.filter_bar_wrapper{

}

.result_list_wrapper{
  margin-top: 100px;
  /*height: 600px;*/
  width: 50%;
  float: left;
}

.result_item_wrapper{

}

.discover_map_wrapper{
  margin-top: 100px;
  height: 600px;
  width: 50%;
  float: right;
  background-image: url(http://i.imgur.com/ziM5W14.png);
  background-size: 100%;
  border: 3px solid lightgrey;
}

/*----------------------------------------------*/




/*---------------USER PROFILE--------------*/

.user_show_wrapper {

}

.user_header_wrapper {

}

.user_activity_wrapper {

}

.profile_pic_wrapper {

}

.img-circle {
    border-radius: 50%;
    width: 10%;
    height: 10%;
}

.user_title_wrapper {
}

.user_fixed_list_wrapper {

}

.user_issues_list_wrapper {

}

.user_watching_list_wrapper {

}

.user_bio_wrapper {

}

.user_fixed_item_wrapper {

}

.user_issues_item_wrapper {

}

.user_watching_item_wrapper {

}

.user_badges_wrapper {

}

.profile_edit_wrapper {

}

.user_profile_card_wrapper{

}

/*----------------------------------------------*/




/*---------------FIX SHOW PAGE--------------*/
.fix_show_page{

}

.fix_header{

}
/*----------------------------------------------*/


/*---------------ISSUE SHOW MAP --------------*/

.issue_show_map_wrapper {
  height: 600px;
  width: 100%;
}

/*----------------------------------------------*/


/*---------------ISSUE NEW FORM --------------*/
.issue_new_wrapper{
  text-align: center
  /*border: 1px solid skyblue;*/
}

.issue_map_wrapper{
  display: inline-block;
  height: 600px;
  width: 60%;
}

.issue_image_wrapper{

}

.issue_form_wrapper{

}

.issue_form_wrapper #geoLocate {
  margin-bottom: 1em;
}

.issue_votes{

}

.issue_open_close{

}

.issue_new_form{
  font-size: 20px;
  margin-top: 1em;
  margin-left: 1%;
  display: inline-block;
  text-align: left;
}

#myCanvas{
  height: 50px;
  overflow: hidden;
}

@media screen and (max-width: 750px) {
  .issue_map_wrapper {
    width: 100%;
    height: 400px;
  }
}


/*----------------------------------------------*/

/*----------------------BADGES -------------------*/
.badge{
  width: 50px;
}
/*----------------------------------------------*/





/*----------------------STREAM (old) -------------------*/
.stream_wrapper {
  /*display: inline-block;*/
  border: 3px solid lightgrey;
  height: 400px;
  overflow: scroll;
  width: 100%;
  margin-top: 50px;
}

.stream_item_wrapper{
  margin: 1%;
  padding: 1%;
  /*border-top: 1px solid skyblue;*/
}

.stream_title{
  font-size: 24px;
  text-decoration: none;
  color: orange;
}

.stream_content{
  text-decoration: none;
  color: black;
}

.stream_image{
  width: 10%;
}
/*----------------------------------------------*/

/*-----ATOMIC STYLING-------*/
.c-grey {
  color: #C0C0C0;
}

.l-7 {
  left: 7px;
}

.pos-r {
  position: relative;
}

