/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* * {
  border: 1px dashed black;
 }
*/

/*---------------SPLASH PAGE----------------*/
.splash_page {
  text-align: center;
}

.header_wrapper {
  /*border: 1px solid skyblue;*/
}

/*--------------------------------------------*/




/*---------------REGISTER/LOGIN PAGE--------------*/
.register_login_page{
  width: 100%;
  text-align: center;
  /*border: 1px solid black;*/
}

.register_form{
  text-align: left;
  display: inline-block;
  width: 20%;
  font-size: 20px;
  /*border: 1px solid skyblue;*/
}

.login_form{
  text-align: left;
  display: inline-block;
  width: 20%;
  font-size: 20px;
  /*border: 1px solid skyblue;*/
}
/*----------------------------------------------*/




/*---------------DASHBOARD  PAGE--------------*/
.dashboard_page{
  text-align: center;
  /*border: 1px solid black;*/
}

.dashboard_nav_wrapper{
  height: 200px;
  /*border: 1px solid skyblue;*/
}

.dashboard_map_wrapper{
  height: 300px;
  background-image: url(http://i.imgur.com/ziM5W14.png);
  background-size: 100%;
  border: 3px solid lightgrey;
}

.issue_new_wrapper{
  /*border: 1px solid skyblue;*/
}

.dashboard_nav_link{
  font-size: 24px;
  margin: 2%;
}
/*----------------------------------------------*/





/*---------------DISCOVER  PAGE--------------*/
.discover_page{
  text-align: center;
}


.search_bar_wrapper{

}

.filter_bar_wrapper{

}

.result_list_wrapper{

}

.result_item_wrapper{

}

.discover_map_wrapper{
  height: 300px;
  background-image: url(http://i.imgur.com/ziM5W14.png);
  background-size: 100%;
  border: 3px solid lightgrey;
}
/*----------------------------------------------*/

/*---------------USER PROFILE--------------*/

.user_show_wrapper {

}

.user_header_wrapper {

}

.user_activity_wrapper {

}


/*----------------------STREAM-------------------*/
.stream_wrapper {
  display: inline-block;
  border: 3px solid lightgrey;
  height: 300px;
  overflow: scroll;
  width: 80%;
  margin-top: 100px;
}
/*----------------------------------------------*/
